/private/**
!/private/**/
!/private/**/.gitkeep

/work/**
!/work/**/
!/work/cpouta
!/work/ddclient.template.conf
!/work/supernetes-cluster.yaml
!/work/manifests/flux.yaml
!/work/manifests/kustomization.yaml
!/work/patch/cilium.yaml
!/work/patch/single-node.yaml
